@media only screen and (max-width: 600px) {
    .changeX1{
        justify-content: space-around
    }
    .changeX2 {
        display: none;
    }
    .changeX6{
        margin-left: 605px !important;
    }
    .changeRespX1{
        display: none;
    }
    .changet2{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .changet3{
        flex-direction: column;
        align-content: baseline;
    }
  }